<div class="jumbotron jumbotron-fluid">

    <div class="container-fluid">

        <h1 class="display-4 text-center">Bienvenidos a
            <strong>La Cocina De Yomari</strong>
        </h1>


        <div class="row">
            <div class="col">
                <p class="jumbotron-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae totam temporibus accusantium natus, optio recusandae enim adipisci nobis! Eaque, architecto similique laudantium officiis nesciunt atque incidunt quaerat animi dolores
                    fugit.
                </p>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div>
        <h1 class="title text-center">La Cocina de Yomari</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="https://via.placeholder.com/400x120.png" />
        </div>
        <div class="col-lg-8">
            <h3 class="title">Quienes Somos ?</h3>
            <p> Preparamos comidas y picaderas por Encargo en San Francisco de Macoris
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h3 class="title">Servicios</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel rerum earum unde, accusantium non animi cumque fuga doloremque ea cupiditate quos totam ducimus beatae voluptatibus tempora quaerat consequuntur quam itaque.
            </p>
        </div>
        <div class="col-lg-4">
            <img src="https://via.placeholder.com/400x120.png" />
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="https://via.placeholder.com/400x120.png" />
        </div>
        <div class="col-lg-8">
            <h3 class="title">Por que nosotros ?</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel rerum earum unde, accusantium non animi cumque fuga doloremque ea cupiditate quos totam ducimus beatae voluptatibus tempora quaerat consequuntur quam itaque.
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3 text-center">
            <h1 class="title">Comunicate con nosotros!</h1>
            <div>
                <address>
                    <!-- TODO: Change link color to match headlines yellowish -->
                    <a href="tel:+1809-244-1470">(809)-244-1470</a>
                    <!-- <p>Carretera Las Cejas</p>
                        <p>C/ Proyecto i #2</p>
                        <p>San Francisco de Macoris, Duarte.</p>
                        <p>Republica Dominicana</p> -->
                    <h4 class="subtitle">Horario</h4>
                    <p>Lunes a Domingo de 8AM a 07PM</p>
                </address>
                <h1 class="subtitle">O realiza tu pedido ahora!</h1>
                <a ui-sref="order" class="btn btn-warning" ng-click="orderNow()">
                    <b>Ordenar ahora!
                        <i class="fas fa-utensils"></i>
                        </i>
                    </b>
                </a>
            </div>
        </div>
    </div>

</div>