<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card">
                <div class="card-body text-dark">
                    <h5 class="card-title text-center">Log In</h5>
                    <form action="/login" method="post">
                        <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="" placeholder="username" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="" class="form-control" placeholder="Password">
                    </div>
                        <a href="http://" class="btn btn-info">Forgot password</a>
                        <input type="submit" class="btn btn-warning" value="Sign In!">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>