<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Log In</h5>
                    <form action="login" method="post">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="" placeholder="username" class="form-control">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="" class="form-control" placeholder="Password">
                        <a href="http://">Forgot password</a>
                        <br>
                        <span class="offset-2">Or</span>
                        <br>
                        <a href="" class="btn btn-light">Register now!</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>